body {
  font-family: Arial;
  background: linear-gradient(135deg, #2a004f, #5a00b3);
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 5px;
}

p {
  opacity: 0.8;
}

.card {
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(8px);
  padding: 20px;
  border-radius: 15px;
  max-width: 500px;
  margin: auto;
  margin-top: 15px;
}

button {
  margin: 6px;
  padding: 10px 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #000;
  color: white;
  transition: 0.15s;
}

button:hover {
  transform: scale(1.03);
  background: #111;
}

button:active {
  transform: scale(0.96);
  background: #222;
}

.result {
  margin-top: 15px;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 15px;
}
button.selected {
  background: #ff0055;
  color: white;
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(255, 0, 85, 0.5);
}
